{% extends "layout.html" %}

{% block body %}


<body style="background-color:rgb(184, 230, 195);">
</body>


<div class="container">

        <div style="background:transparent !important" class="jumbotron">
                <center>
                        <h1>Hakkımda</h1>
                </center>
                <br>
                <center>
                        <p><b><font color="purple" , size ="4"><font face ="mono">İzmir Dokuz Eylül Üniversitesi Bilgisayar Mühendisliği 2. sınıf öğrencisiyim.IEEE kurul
                                üyesi , Project Zoe
                                yöneticisi , Hızır Projesi
                                gönüllü çalışanı olarak görev almaktayım.3 yıldır Python'da AI ve görüntü işleme
                                üzerinde çalışıyorum.</font></font>
                                </b> </p>
                </center>
                <center>
                        <p><b> <font color="purple" , size ="4"><font face ="mono">Mümkün oldukça toplumsal yararı olan , açık kaynak kodlu projelere destek vermeye
                                çalışıyorum.
                                Android platformunda geliştirdiğim 3 uygulama , Java yazdığım ve Data Structers
                                çalışmalarıma örnek 4 program,
                                Pythonda geliştirdiğim 2'si AI olmak üzere toplam 5 projem bulunmaktadır.</font></font></b>

                        </p>
                </center>
                <center>
                        <p><b><font color="purple" , size ="4"><font face ="mono">Matematiği , istatisliği , programlama teorilerini , sosyal yardımlaşma projelerine
                                destek vermeyi
                                ve bilimi seviyorum. :)</font></font> </b>

                        </p>
                </center>

        </div>


</div>

<div class="container">

        <footer>
              <br><br><br>
               
                  <div class="footer-copyright text-center py-4">
                    <a href="https://www.instagram.com/emirhanbilgebulut/?hl=en"><img src="https://image.flaticon.com/icons/png/512/87/87390.png"
                        alt="Instagram " height="35" width="35"></a>
                    <a href="emirhanbilgeblt@gmail.com"> <img
                        src=" https://icon-library.net/images/black-email-icon/black-email-icon-1.jpg" alt="Email " height="35"
                        width="35"></a>
                    <a href="https://github.com/Ebbdev"> <img src="https://raw.githubusercontent.com/fabiospampinato/vscode-github-notifications-bell/master/resources/logo.png"
                        alt="Github " height="35" width="35"></a>
                    <a href="https://www.youtube.com/channel/UCp1QodF_JisDozJ8MOwdtbg/videos"> <img
                        src="https://png.pngtree.com/element_our/md/20180626/md_5b321fcfea2fb.jpg"
                        alt="Youtube " height="35" width="35"></a>
                        <br>
                    <p>&copy; Created by EBB 2019-2022</p>
                  </div>
            
                </footer>
</div>



{% endblock %}