{% extends "layoutenglish.html" %}

{% block body %}


<body style="background-color:rgb(184, 230, 195);">
</body>


<div class="container">

        <div style="background:transparent !important" class="jumbotron">
                <center>
                        <h1>About Me</h1>
                </center>
                <center>
                        <p><b><font color="white">I am a second year student at Izmir Dokuz Eylül University Computer Engineering.
                            Member, Project Zoe & Manager, Hızır Project lightning AI and image processing in Python
                            I am working on it.</font>
                                </b> </p>
                </center>
                <center>
                        <p><b> <font color="white">To support open source projects with social benefits as much as possible
                        I'm trying. I developed 3 applications on Android platform, I wrote Java and Data Structers  4 examples of my work,
                        I have a total of 5 projects, 2 of which are AIs.</font></b>
                        </p>
                </center>
                <center>
                        <p><b><font color="white">Mathematics, statistics, programming theories, social assistance projects support
                        and I love science. :)</font> </b>
                        </p>
                </center>

        </div>


</div>

<div class="container">

        <footer>
                <br><br><br><br>
                <br>
               
                  <div class="footer-copyright text-center py-4">
                    <a href="https://www.instagram.com/emirhanbilgebulut/?hl=en"><img src="https://image.flaticon.com/icons/png/512/87/87390.png"
                        alt="Instagram " height="35" width="35"></a>
                    <a href="emirhanbilgeblt@gmail.com"> <img
                        src=" https://icon-library.net/images/black-email-icon/black-email-icon-1.jpg" alt="Email " height="35"
                        width="35"></a>
                    <a href="https://github.com/Ebbdev"> <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                        alt="Github " height="35" width="35"></a>
                    <a href="https://www.youtube.com/channel/UCp1QodF_JisDozJ8MOwdtbg/videos"> <img
                        src="https://www.sccpre.cat/mypng/detail/103-1038139_youtube-dark-icon-black-youtube-icon-png.png"
                        alt="Youtube " height="35" width="45"></a>
                        <br>
                    <p>&copy; Created by EBB 2019-2022</p>
                  </div>
            
                </footer>
</div>



{% endblock %}