{% extends "layoutenglish.html" %}


{% block body %}


<div class="container">
  <a href="/"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAF+SURBVHjaYvzPgAD/UNlYEUAAmuTYBgAYhIEgJJmboZgtHbaJKNK8TvozM8LIllwagEY4sIFV1UD/3swngMAaGBn/P3kCVApS7ebG8O/f/x07/n/6BFL36/f/37/+//oFZDPKygJtAAggkIb/YINBqqOjGUxNQeqUlf93dIDV/QLpAWtg+P0bqAEggJhA7gaqBtqoqMjg5PR/+vT/SUn/N2z4//Xr/+XL//Pwgu2BWgJUCxBATCAn/fgJEnVx/Q+05NgxkNzp0/9XrPgvJPR/zZr/ZmZQDX/+AE0HCCCQhv9//4D89OQxMMT+a2uDnKGm9v/SJZCrHj36v28fRAPESQABxALEjGBLGRYv/s/H97+oCOQYIIiM/P/ly/9Fi6CO+QMy9A8DA0AAgTQwg4MMaMD/rq7/vr7/WVlBrv/8GeROiAf+ADWAQgXoHIAAAmlg+v+fQVISbMxfhpMngToZhYUZ+PkZwAaDEDgMgQioGCCAGL+iRiSeOIYAgAADAO/XO1xGA79vAAAAAElFTkSuQmCC" , width="16" , height="11"
   ></a>

   <a href="/english"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAALCAIAAAD5gJpuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAflJREFUeNpinDRzn5qN3uFDt16+YWBg+Pv339+KGN0rbVP+//2rW5tf0Hfy/2+mr99+yKpyOl3Ydt8njEWIn8f9zj639NC7j78eP//8739GVUUhNUNuhl8//ysKeZrJ/v7z10Zb2PTQTIY1XZO2Xmfad+f7XgkXxuUrVB6cjPVXef78JyMjA8PFuwyX7gAZj97+T2e9o3d4BWNp84K1NzubTjAB3fH0+fv6N3qP/ir9bW6ozNQCijB8/8zw/TuQ7r4/ndvN5mZgkpPXiis3Pv34+ZPh5t23//79Rwehof/9/NDEgMrOXHvJcrllgpoRN8PFOwy/fzP8+gUlgZI/f/5xcPj/69e/37//AUX+/mXRkN555gsOG2xt/5hZQMwF4r9///75++f3nz8nr75gSms82jfvQnT6zqvXPjC8e/srJQHo9P9fvwNtAHmG4f8zZ6dDc3bIyM2LTNlsbtfM9OPHH3FhtqUz3eXX9H+cOy9ZMB2o6t/Pn0DHMPz/b+2wXGTvPlPGFxdcD+mZyjP8+8MUE6sa7a/xo6Pykn1s4zdzIZ6///8zMGpKM2pKAB0jqy4UE7/msKat6Jw5mafrsxNtWZ6/fjvNLW29qv25pQd///n+5+/fxDDVbcc//P/zx/36m5Ub9zL8+7t66yEROcHK7q5bldMBAgwADcRBCuVLfoEAAAAASUVORK5CYII=" , width="16" , height="11"
    ></a>
</div>
<div class="container">
  <br>
 
   
    
  <body style="background-color:rgb(248, 239, 219);">
  </body>
  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-12 col-md-9">
        <div style="background:rgb(247, 222, 155) !important" class="jumbotron">
            
          <center><h1><font face = "Magneta" >Welcome !</font></h1></center><br><br>

        <center><p> <b><font face = "mono", size ="4">Hello , I'm studying computer engineering , I'm on the IEEE board.</font></b></p></center><br>
        <center><p><b><font face = "mono", size ="4">Softaware , Electric-Electronic ve Code Putirist :)))</font></b></p></center>

      </div>
      <footer>
        <br><br><br><br>
        <br>
          <div class="footer-copyright text-center py-4">
            <a href="https://www.instagram.com/emirhanbilgebulut/?hl=en"><img src="https://image.flaticon.com/icons/png/512/87/87390.png"
                alt="Instagram " height="35" width="35"></a>
            <a href="emirhanbilgeblt@gmail.com"> <img
                src=" https://icon-library.net/images/black-email-icon/black-email-icon-1.jpg" alt="Email " height="35"
                width="35"></a>
            <a href="https://github.com/Ebbdev"> <img src="https://raw.githubusercontent.com/fabiospampinato/vscode-github-notifications-bell/master/resources/logo.png"
                alt="Github " height="35" width="35"></a>
            <a href="https://www.youtube.com/channel/UCp1QodF_JisDozJ8MOwdtbg/videos"> <img
                src="https://png.pngtree.com/element_our/md/20180626/md_5b321fcfea2fb.jpg"
                alt="Youtube " height="35" width="35"></a>
            <p>&copy; Created by EBB 2019-2022</p>
          </div>
    
        </footer>
    </div>
    
    <!--/span-->

    <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
      <p> <font face = "Oswald">You can browse my projects directly here</font></p>
      <div class="list-group">
        <a href="https://play.google.com/store/apps/details?id=com.movies.easycinema" class="list-group-item active">Movies and Tv Series Android</a>
        <a href="/supports" class="list-group-item ">Python Smart Home with AI</a>
        <a href="/supports" class="list-group-item active">Cheating for Instagram & Twitter</a>
        <a href="https://github.com/Ebbdev/JavaBegginerExample" class="list-group-item ">Java Data Structer Examples Projects</a>
        <a href="https://yadi.sk/d/UMMZA4pqaVH1JQ" class="list-group-item active">Transportation Local System</a>
        <a href="https://yadi.sk/d/NeUvh-ZEmLL86A" class="list-group-item ">Android Ticket buy System MIT App Inventor</a>
        <a href="/supports" class="list-group-item active">Python Mouse Controll with Image Process</a>
        <a href="/supports" class="list-group-item ">Java University Articles System</a>
        <a href="https://github.com/Ebbdev/flaskmyweb" class="list-group-item active">Python Flask Website</a>

      </div>
    </div>
    <!--/span-->
  </div>
  <!--/row-->
  
  

  


  {% endblock %}