{% extends "layout.html" %}

{% block body %}

<div class="container">

  <body style="background-color:rgb(240, 228, 240);">
  </body>
  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-12 col-md-9">
        <div style="background:rgb(213, 230, 224) !important" class="jumbotron">
            
          <center><h1>Sayfama Hoş Geldin !</h1></center><br><br>

        <center><p> <b>Merhaba , Ben Emirhan DEU Computer Engineering 2. Sınıf Öğrencisi & IEEE Kurul Üyesi</b></p></center><br>
        <center><p><b>Yazılım , Elektrik Elektronik ve Kod Pütiristi :)))</b></p></center>

      </div>
      <footer>
        <br><br><br><br>
        <br><br>
          <div class="footer-copyright text-center py-4">
            <a href="https://www.instagram.com/emirhanbilgebulut/?hl=en"><img src="https://image.flaticon.com/icons/png/512/87/87390.png"
                alt="Instagram " height="35" width="35"></a>
            <a href="emirhanbilgeblt@gmail.com"> <img
                src=" https://icon-library.net/images/black-email-icon/black-email-icon-1.jpg" alt="Email " height="35"
                width="35"></a>
            <a href="https://github.com/Ebbdev"> <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
                alt="Github " height="35" width="35"></a>
            <a href="https://www.youtube.com/channel/UCp1QodF_JisDozJ8MOwdtbg/videos"> <img
                src="https://www.sccpre.cat/mypng/detail/103-1038139_youtube-dark-icon-black-youtube-icon-png.png"
                alt="Youtube " height="35" width="45"></a>
            <p>&copy; Created by EBB 2019-2022</p>
          </div>
    
        </footer>
    </div>
    
    <!--/span-->

    <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
      <p>Doğrudan Projelere Göz Atmak İçin</p>
      <div class="list-group">
        <a href="https://play.google.com/store/apps/details?id=com.movies.easycinema" class="list-group-item active">Movies and Tv Series Android</a>
        <a href="/supports" class="list-group-item ">Python Smart Home with AI</a>
        <a href="/supports" class="list-group-item active">Cheating for Instagram & Twitter</a>
        <a href="https://github.com/Ebbdev/JavaBegginerExample" class="list-group-item ">Java Data Structer Examples Projects</a>
        <a href="https://yadi.sk/d/UMMZA4pqaVH1JQ" class="list-group-item active">Transportation Local System</a>
        <a href="https://yadi.sk/d/NeUvh-ZEmLL86A" class="list-group-item ">Android Ticket buy System MIT App Inventor</a>
        <a href="/supports" class="list-group-item active">Python Mouse Controll with Image Process</a>
        <a href="/supports" class="list-group-item ">Java University Articles System</a>
        <a href="https://github.com/Ebbdev/flaskmyweb" class="list-group-item active">Python Flask Website</a>

      </div>
    </div>
    <!--/span-->
  </div>
  <!--/row-->
  
  

  


  {% endblock %}