{% extends "layout.html" %}

{% block body %}

<body style="background-color:rgb(211, 221, 223);">
  </body>
<div class="container">

  <div class="row">
    <div class="col-6 col-lg-4">
      <h2>Film ve Dizi İndirme Uygulaması</h2>
      <p>Google Playde Olan Projem Binlerce Dizi ve Filmi bir tıklama ile indirmenize olanak sağlamakla beraber
        Android Studio ve MIT App Inventor'de tecrübe kazanmama olanak sağlamış oldu .  </p>
      <p><a class="btn btn-secondary" href="/supports" role="button">Detayları Gör &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-6 col-lg-4">
      <h2>Yapay Zeka ile Akıllı Ev</h2>
      <p>Google Home , Apple'ın ev kitlerine benzer olan Pythonda geliştirdiğim ve zamanla kullanıcı davranışlarına 
        göre öğrenebilen bir Akıllı Ev sistemidir.  </p>
      <p><a class="btn btn-secondary" href="/supports" role="button">Detayları Gör &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-6 col-lg-4">
      <h2>Twitter & İnstagram Hileleri</h2>
      <p>Twiiter ve Instagram'da takipçi , beğeni , görüntülenme gibi hileleri kapsayan Python'da yazdığım
        bir projedir.Ayrıca Pythonda Tkinter Modulü ile arayüz de geliştirdiğim bir projemdir. </p>
      <p><a class="btn btn-secondary" href="/supports" role="button">Detayları Gör &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-6 col-lg-4">
      <h2>Veri Yapıları Örnekleri</h2>
      <p>Java'da yazılan Stack , Queue , LinkedList'lerden kodlanmış , oyun ve benzeri örnekleri içeren 
        Data Structer'ları daha iyi anlaşılması için yazılmış projelerimdir. </p>
      <p><a class="btn btn-secondary" href="/supports" role="button">Detayları Gör &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-6 col-lg-4">
      <h2>Yerel Ulaşım Sistemi </h2>
      <p>Kendi yaşadığım şehirde ulaşım hakkında bilgilerin ve hangi dolmuşun hangi saatlerde , nereye gittiğini 
        gösteren bir Android Uygulamasıdır.MIT App Inventor ile oluşturulmuştur. </p>
      <p><a class="btn btn-secondary" href="/supports" role="button">Detayları Gör &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-6 col-lg-4">
      <h2>Otobüs Bileti Alma Uygulaması</h2>
      <p>Türkiyede büyük otobüs firmalarından hızlıca bilet almanızı sağlayan , reklamsız bir uygulamamdır.
        Android ve MIT APP Inventorde yazılmıştır. </p>
      <p><a class="btn btn-secondary" href="/supports" role="button">Detayları Gör &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-6 col-lg-4">
      <h2>Görüntü işleme ile Fare Kontrolü</h2>
      <p>Python'da yazılan ve görüntü işlemeyi kullanan bir projemdir.Kayıt ettiğiniz kişinin yüzünü algılayıp el kol hareketleri
        ya da yüzünü takip ederek Mouse kontrolü sağlanmaktadır. </p>
      <p><a class="btn btn-secondary" href="/supports" role="button">Detayları Gör &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-6 col-lg-4">
      <h2>Üniversite Makale Sistemi</h2>
      <p>Java'da yazılmış olan ve Dokuz Eylül Üniversitesi için makale ve çalışmaların paylaşıldığı bir uygulamamdır.
        Veri tabanı kullanılan ve OOP temalı bir projemdir. </p>
      <p><a class="btn btn-secondary" href="/supports" role="button">Detayları Gör &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-6 col-lg-4">
      <h2>Flask ile Websitesi</h2>
      <p>Pythonda Flask Modulü ile yazılan ve bu web sitesinde gördüğünüz örnekleri içeren bir projemdir.</p>
      <p><a class="btn btn-secondary"  href="/supports" role="button" >Detayları Gör &raquo;</a></p>
    </div>
    <!--/span-->
  </div>
  <!--/row-->
</div>
<!--/span-->

</div>
<!--/row-->

<hr>



</div>
<div class="container">
  <footer>
      <div class="footer-copyright text-center py-4">
        <a href="https://www.instagram.com/emirhanbilgebulut/?hl=en"><img src="https://image.flaticon.com/icons/png/512/87/87390.png"
            alt="Instagram " height="35" width="35"></a>
        <a href="emirhanbilgeblt@gmail.com"> <img
            src=" https://icon-library.net/images/black-email-icon/black-email-icon-1.jpg" alt="Email " height="35"
            width="35"></a>
        <a href="https://github.com/Ebbdev"> <img src="https://raw.githubusercontent.com/fabiospampinato/vscode-github-notifications-bell/master/resources/logo.png"
            alt="Github " height="35" width="35"></a>
        <a href="https://www.youtube.com/channel/UCp1QodF_JisDozJ8MOwdtbg/videos"> <img
            src="https://png.pngtree.com/element_our/md/20180626/md_5b321fcfea2fb.jpg"
            alt="Youtube " height="35" width="35"></a>
        <p>&copy; Created by EBB 2019-2022</p>
      </div>

    </footer>
  </div>





{% endblock %}