{% extends "layoutenglish.html" %}

{% block body %}

<body style="background-color:rgb(248, 239, 219);">
  </body>
<div class="container">

  <div class="row">
    <div class="col-6 col-lg-4">
      <h2>Movies and Tv Series</h2>
      <p>My Google Play Project allows you to download thousands of series and movies with a click
         It enabled me to gain experience in Android Studio and MIT App Inventor.  </p>
      <p><a class="btn btn-info" href="/supports" role="button">View details &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-6 col-lg-4">
      <h2>Smart Home with AI</h2>
      <p>Google Home, which I developed in Python, which is similar to Apple's home kits,
        is a Smart Home system. </p>
      <p><a class="btn btn-info" href="/supports" role="button">View details &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-6 col-lg-4">
      <h2>Cheating for Instagram & Twitter</h2>
      <p>Twiiter and Instagram followers, likes, views, including cheats that I wrote in Python
        It is also a project that I developed in interface with Tkinter Module in Python.</p>
      <p><a class="btn btn-info" href="/supports" role="button">View details &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-6 col-lg-4">
      <h2>Data Structer Examples Projects</h2>
      <p>Stack, Queue, LinkedList encoded in Java, containing games and similar examples
        Data Structers are my projects for better understanding. </p>
      <p><a class="btn btn-info" href="/supports" role="button">View details &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-6 col-lg-4">
      <h2>Transportation Local System</h2>
      <p>Information about transportation in the city I live in and which times, and where
         is an Android App showing. Built with MIT App Inventor. </p>
      <p><a class="btn btn-info" href="/supports" role="button">View details &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-6 col-lg-4">
      <h2>Ticket buy System</h2>
      <p>allowing you to quickly get tickets from the major bus company in Turkey, it's ad-free application.
         Android and MIT APP is written in Inventorde. </p>
      <p><a class="btn btn-info" href="/supports" role="button">View details &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-6 col-lg-4">
      <h2>Mouse Controll with Image Process</h2>
      <p>It is a project written in Python that uses image processing. It detects the person's face and gestures.
        or Mouse control is provided by following the face. </p>
      <p><a class="btn btn-info" href="/supports" role="button">View details &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-6 col-lg-4">
      <h2>University Articles System</h2>
      <p>It is an application written in Java and shared articles and studies for Dokuz Eylül University.
        It is a OOP themed project using a database.</p>
      <p><a class="btn btn-info" href="/supports" role="button">View details &raquo;</a></p>
    </div>
    <!--/span-->
    <div class="col-6 col-lg-4">
      <h2>Flask Website</h2>
      <p>This is a project written with the Flask Module in Python that contains the examples you see on this website.</p>
      <p><a class="btn btn-info"  href="/supports" role="button" >View details &raquo;</a></p>
    </div>
    <!--/span-->
  </div>
  <!--/row-->
</div>
<!--/span-->

</div>
<!--/row-->

<hr>



</div>
<div class="container">
  <footer>
      <div class="footer-copyright text-center py-4">
        <a href="https://www.instagram.com/emirhanbilgebulut/?hl=en"><img src="https://image.flaticon.com/icons/png/512/87/87390.png"
            alt="Instagram " height="35" width="35"></a>
        <a href="emirhanbilgeblt@gmail.com"> <img
            src=" https://icon-library.net/images/black-email-icon/black-email-icon-1.jpg" alt="Email " height="35"
            width="35"></a>
        <a href="https://github.com/Ebbdev"> <img src="https://raw.githubusercontent.com/fabiospampinato/vscode-github-notifications-bell/master/resources/logo.png"
            alt="Github " height="35" width="35"></a>
        <a href="https://www.youtube.com/channel/UCp1QodF_JisDozJ8MOwdtbg/videos"> <img
            src="https://png.pngtree.com/element_our/md/20180626/md_5b321fcfea2fb.jpg"
            alt="Youtube " height="35" width="35"></a>
        <p>&copy; Created by EBB 2019-2022</p>
      </div>

    </footer>
  </div>





{% endblock %}